input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #BDA68C;
  border-radius: 0;
  background: rgba(255, 255, 255, 0);
}

input[type="checkbox"]:checked {
  background: #BDA68C;
  background-image: url(./assets/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
} 