.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.nav_menu {
  width: 100%;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.nav_link {
  color: var(--white);
  text-transform: uppercase;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: .63em 1.25em;
  font-family: corporate-a-condensed, sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  display: inline-flex;
}

.nav_link_icon {
  justify-content: center;
  align-items: center;
  width: 2.08em;
  display: flex;
  margin-left: 10px;
}

.nav_link:hover {
  background-color: #bda68c;
  color:#61dafb;
  border: #747bff;
  border-radius: .19em;
    
}


.nav_link_text {
  font-size: 1.13em;
  line-height: 1.4;
}

.section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25em 3.38em;
  position: relative;
}

.section.is--banner {
  aspect-ratio: 3.58;
  object-fit: cover;
  background-image: linear-gradient(#191b27, rgba(25, 27, 39, 0) 42%), linear-gradient(0deg, #191b27, rgba(25, 27, 39, 0) 30%), url(assets/hero-banner-bg_1.webp);
  background-position: 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  max-height: 32em;
}

.banner-container {
  display: block;
  width: 100%;
  position: relative;
}

.banner_flex {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.banner_logo {
  width: 100%;
}

.brand {
  width: 21.31em;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.play_button {
/* width: 300px;   */
transition: all .4s ease-in-out;
}

.play_button img {
  display: block;
  width: 400px;
}
.play_button:hover {
  transform: scale(1.1);


}

.play_button:active {
  transform: scale(1.1);

}


.banner_button_bg {
  opacity: .9;
  mix-blend-mode: hard-light;
  background-image: linear-gradient(270deg, #335275, #60b6db 64%);
  width: 74%;
  height: 55%;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
} 
